#Welcome{
    background-color: var(--primary-color);
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

.Showcase-Display{
    width:100%;
    height: 50vh;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;

}

.Display {
    width: 85%;
    height: 90%;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 30px;
}

.Display-Text{
    color:var(--primary-color);
    padding: 5rem 5rem;
    width: 40vw;
}

.Display-Image{
    display: block;
    object-fit: contain;
}

.Display-Image img{
    width: 60vw;
    position: relative;
    bottom:130px;
}