:root {
  --primary-color: rgb(238, 232, 225);
  --secondary-color: rgb(58, 53, 52);

}

body {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  justify-content: center;
}



